# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.log

# Next.js
.next
out

# Production
dist
build

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea

# OS
.DS_Store
Thumbs.db

# Misc
*.swp
*.swo
*~
.turbo

# Prisma
prisma/migrations/*
!prisma/migrations/.gitkeep
